force-app/main/default/flows/Manager_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assigments</name>
        <label>Assigments</label>
        <locationX>392</locationX>
        <locationY>256</locationY>
        <assignmentItems>
            <assignToReference>ManagerToInsert.Agrees_with_the_dangers_of_the_project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accept_dangers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerToInsert.Emergency_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Emergency_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ManagerToInsert.The_Project_will_Last_years__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>years_in_the_job</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Manager</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>ListofHazardConcerns</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hazardous_Issues__c</picklistField>
        <picklistObject>Mining_Project_Id__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Manager Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manager Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Manager</name>
        <label>Create Manager</label>
        <locationX>251</locationX>
        <locationY>407</locationY>
        <connector>
            <targetReference>Manager_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>ManagerToInsert</inputReference>
    </recordCreates>
    <screens>
        <name>Acknowledge_Dangers</name>
        <label>Acknowledge Dangers</label>
        <locationX>667</locationX>
        <locationY>91</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assigments</targetReference>
        </connector>
        <fields>
            <name>years_in_the_job</name>
            <dataType>Number</dataType>
            <fieldText>years in the job</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Accept_dangers</name>
            <dataType>Boolean</dataType>
            <fieldText>Accept dangers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Emergency_Contact</name>
            <dataType>String</dataType>
            <fieldText>Emergency Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>851</locationX>
        <locationY>260</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manager_Created</name>
        <label>Manager Created</label>
        <locationX>60</locationX>
        <locationY>404</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ManagerCreated</name>
            <fieldText>&lt;p&gt;The Manager you entered,&lt;/p&gt;&lt;p&gt;{!ManagerToInsert.First_Name__c}&lt;/p&gt;&lt;p&gt;{!ManagerToInsert.Last_Name__c},&lt;/p&gt;&lt;p&gt;has been created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manager_Name</name>
        <label>Manager Name</label>
        <locationX>171</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manager_s_Contact_Information</targetReference>
        </connector>
        <fields>
            <name>FullName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ManagerToInsert.First_Name__c</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ManagerToInsert.Last_Name__c</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manager_s_Contact_Information</name>
        <label>Manager&apos;s Contact Information</label>
        <locationX>420</locationX>
        <locationY>88</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Acknowledge_Dangers</targetReference>
        </connector>
        <fields>
            <name>ManagerEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ManagerToInsert.Email__c</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Manager_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ManagerToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Site_Manager__c</objectType>
    </variables>
</Flow>
